<% layout("/layouts/boilerplate") %>

<div class="container text-center mt-5">
  <h2 class="text-success">Payment Successful!</h2>

  <p>Your booking is confirmed.</p>

  <p><b>Total Paid:</b> ₹<%= booking.totalPrice %></p>

  <a href="/listings" class="btn btn-dark mt-3">Go Home</a>
</div>