<% layout("/layouts/boilerplate") %>

<div class="container text-center mt-5">
  <h3 class="text-warning"> Payment Under Verification</h3>

  <p>Please wait while we verify your payment.</p>

  <p>If paid, your booking will be confirmed shortly.</p>

  <a href="/listings" class="btn btn-dark mt-3">Back</a>
</div>